{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">

        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title>Contact Section</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                
                <div>
                    <a href="#" class="nav__logo">{{ home.name }}</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                        
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

 <!--===== CONTACT =====-->
 {% comment %} <section class="contact section" id="contact">
    <h2 class="section-title">Contact</h2>

    <div class="contact__container bd-grid">
        <div class="contact__info">
            <h3 class="contact__subtitle">EMAIL</h3>
            <span class="contact__text">Karkisabina869@gmail.com</span>

        </div>

        <div class="contact__info">

            <h3 class="contact__subtitle">PHONE</h3>
            <span class="contact__text">9841053490</span>

        </div>
    </div>
</section>
</main> {% endcomment %}

<section class="contact" id="contact">
    <div class="contact__container bd-grid">
        <h1 class="contact__title"><span>{{ contact.phone }}</span><br>{{ contact.email}}.</h1>

        <div class="contact__scroll">
            <a href="#contact" class="contact__scroll-link"><i class='bx bx-up-arrow-alt' ></i>Scroll down</a>
</section>